
*{
  margin: 0 0 0 0 ;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background: rgb(245, 239, 243);
  color: black;
}
a{
  color: black;
  display: inline-block;
}
#header{
  width: 100%; 
  height: 70vh;
  /* background-image: url(images/background-portfolio.JPG);
  background-position: center;
  background-size: cover; */

}
.container{
  padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{ 
  width: 40px; 
}

nav ul li{
  display: inline-block;
  list-style: none; /* delete the bullet point from ul */
  margin: 10px 20px;
}

nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 18px; 
  position: relative;

}

nav ul li a::after{
  content:'';
  width: 0; 
  height: 3px;
  background: rgb(128, 73, 73);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
.header-text{
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1{
  font-weight: 500;
}
.header-text span{
  color: rgb(128, 73, 73);
  
}

/* about */
#about{
  padding: 80px 0;
  color: black;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 50%;
  font-size: 20px;
}
.about-col-1 p{
  margin-top: 10px;
  margin-bottom: 5px;
}
.about-col-1 img{
  width: 100%;
  /* border-radius: 0px;  */
}
.about-col-2{
  flex-basis: 40%;
  color: black;
}
.sub-title{
  font-size: 60px;
  font-weight: 500;

  
}
.tab-titles{
    display: flex;
    margin: 20px 0 30px; 
}
.tab-links{
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer ;
    position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: rgb(128, 73, 73);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width: 50%;
}
.tab-contents{
  display: none;
}
.tab-contents ul li{
  list-style: none;
  margin-top: 8px;
}
.tab-contents.active-tab{
  display: block;
}
.tab-contents ul li span{
  font-weight: bold;
  font-size: 18px;
}

/* projects */
#projects{
  padding: 30px 0;
}
.projects-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  grid-gap: 50px;
  margin-top: 50px;
  text-align: center;
}
.projects-list div{
  background: rgb(204, 158, 158);
  padding: 50px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;

}

.projects-list div:hover{
  background: rgb(149, 85, 85);
  transform: translateY(-10px);
}

/* Contact Info */
/* .row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 30px;
  padding-left: 10px;
  font-size: 18px;
}
.contact-left p i{
  font-size: 25px;
  margin-right: 10px;
}
.social-icons{
  margin-top: 25px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 20px;
  display: inline-block;
  color: #ababab;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color:black;
  transform:translateY(-10px);
}
.btn{
  background: rgb(204, 158, 158);
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.contact-right form{
 width: 100%;
 color: white;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #cec9c9;
  padding: 15px;
  margin: 15px 0;
  color: black;
  border-radius: 6px;
}

form button.btn{
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 6px;
  margin-left: 0px;
}
#resume{
  margin-left: 80px;
  margin-bottom: 50px;
}


/* CSS for small screens */
  @media only screen and (max-width: 600px){
    .header-text{
      margin-top: 100%;
      font-size: 16px;
    }
    .header-text h1{
      font-size: 30px;
    }
   .sub-title{
    font-size: 40px; 
   }
   .about-col-1, .about-col-2{
      flex-basis: 100%;
      margin-bottom: 30px;
   }
 .about-col-2{
    font-size: 16px;
   }
  
   .tab-links{
      font-size: 20px;
      margin-right: 20px;
   }

   .contact-left, .contact-right{
    flex-basis: 100%;
   }
   #resume{
    margin-top: 20px;
   }
  }

  #msg{
    color: green;
    margin-top: 10px;
    display: block;
  }